<div class="component">
  <h1>
    Welcome to Router Bank!
  </h1>
  <h2>
    A bank to store all of your fake Routez currency!
  </h2>
  <p style="margin-bottom: 40px;">
    Router bank solely uses our custom and totally useless currency Routez.
    This is a demo application that uses Angular and RxJS Observables for the front end.
    Router Bank also uses a custom built .net core API written in C# that connects to
    an SQL database to store all user data.
    Login or create a new user account to get started.
  </p>
  <div style="display: flex; justify-content: space-evenly;">
    <button routerLink="login">Login</button>
    <button routerLink="createaccount">Create Account</button>
  </div>
</div>

