@media (max-width: 600px) {
  .transaction-history-component {
    padding: 15px 7px 0 5px;
  }

  table {
    border-collapse: collapse;
  }

  table thead {
    display: none;
  }

  table td {
    display: flex;
  }

  table td::before {
    content: attr(label);
    font-weight: bold;
    color: dimgray;
    width: 150px;
    text-align: left;
  }

  th {
    padding: 4px 0 4px 0;
  }

  tr {
    border-bottom: 1px solid darkgrey;
    padding: 12px 0 12px 0;
  }

  table tr:last-child {
    border-bottom: none;
  }

  td {
    padding: 8px 15px 8px 15px;
  }
}

@media (min-width: 601px) {
  .transaction-history-component {
    padding: 20px 5% 0 5%;
  }

  table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
  }

  th {
    padding: 12px 0 12px 0;
  }

  tr {
    border-bottom: 1px solid darkgrey;
  }

  thead {
    border-bottom: 1px solid darkgrey;
  }

  table tr:last-child {
    border-bottom: none;
  }

  td {
    padding: 12px 0 12px 0;
  }
}

.table-boarder {
  width: 100%;
  border: 2px solid dimgrey;
  border-radius: 15px;
}

.error {
  color: darkred;
  margin-top: 20px;
}
