<div class="home-component">
  <div style="text-align: center">
    <h1>
      Welcome {{ userAccount.name }}, to Router Bank!
    </h1>
    <h2>
      A bank to store all of your fake Routez currency!
    </h2>
    <p style="margin-bottom: 40px; color: black;">
      Router bank solely uses our custom and totally useless currency Routez.
      This is a demo application that uses Angular and RxJS Observables for the front end.
      Router Bank also uses a custom built .net core API written in C# that connects to
      an SQL database to store all user data.
      You can use the navigation to the left to traverse Router Bank and manage all of your banking needs.
      Here is what each menu option does:
    </p>
  </div>

  <div style="padding-left: 60px;">
    <h4>Account Overview</h4>
    <p>Allows you to see your account information and your savings and checking account balances</p>

    <h4>Deposit/Withdraw</h4>
    <p>Allows you to deposit or withdraw Routez from your checking and savings accounts</p>

    <h4>Transfer</h4>
    <p>Allows you to transfer Routez between your checking and savings accounts</p>

    <h4>Manage Interest</h4>
    <p>Allows you to set up and manage an interest plan for your savings account</p>

    <h4>Transaction History</h4>
    <p>Allows you to view your transaction history</p>

    <h4>Logout</h4>
    <p>Logs out of your account and redirects you to the login page</p>
  </div>
</div>

