<div class="nav-bar">
  <div class="nav-item" (click)="navTo('overview')">
    Account Overview
  </div>
  <div class="nav-item" (click)="navTo('depositwithdraw')">
    Deposit/Withdraw
  </div>
  <div class="nav-item" (click)="navTo('transfer')">
    Transfer
  </div>
  <div class="nav-item" (click)="navTo('interest')">
    Manage Interest
  </div>
  <div class="nav-item" (click)="navTo('transactions')">
    Transaction History
  </div>
  <div class="nav-item" (click)="logout()">
    Logout
  </div>
</div>
